.cubic-bezier-transition {
  transition: transform 1s cubic-bezier(.58,-0.37,.45,1.46),
    color 0.5s ease .4s, background 0.8s cubic-bezier(.58,-0.37,.45,1.46);
}

.smooth-transition {
  transition: transform 0.6s ease .4s, opacity 1s, background 0.8s, color 0.8s;
}

.base-transition {
  transition: 0.5s ease 0.25s;
}

.rotate-360 {
  transform: rotate(360deg);
}

.polar-deg180 {
  transform: translateX(-250%)
}

.polar-deg150 {
  transform: translateX(-216%) translateY(-125%)
}

.polar-deg120 {
  transform: translateX(-125%) translateY(-216%)
}

.polar-deg90 {
  transform: translateY(-250%)
}