@font-face {
  font-family: "WorkSans";
  src: url('/fonts/WorkSans-Light.ttf');
  src: url('/fonts/WorkSans-Regular.ttf');
  src: url('/fonts/WorkSans-Medium.ttf');
  src: url('/fonts/WorkSans-SemiBold.ttf');
}